<div class="row">
    <div>
      <div class = "row">
        <div id="map" ></div>
      <div class="card">
        <div class="card-body">
        <h5 class="card-title" align = 'center'>{{historialDetail.grado}} {{historialDetail.apellidos}}, {{historialDetail.nombres}}</h5>
        <h6 align = 'center'>Historial de localizacion</h6>
        <div class="col" *ngFor = "let c of historialDetail.coordenadas">
          <p align = 'center'>[{{c.latitud}}, {{c.longitud}}]</p>
        </div>
      </div>
    </div>
  </div>
  </div>

