<div class="row">
    <div class="col">
        <div id="map"></div>
      </div>
      <div class="col-1">

      </div>
      <div class="col">
        <div class="row">. </div>
          <div *ngIf="selectedPeloton">
              <app-mapa-detail [pelotonDetail]="selectedPeloton"> </app-mapa-detail>
            </div>
      </div>
    </div>

    <div class="row">
        <div class="col-1">
        </div>
    <div class="col-10">
      <h2 align="center">Información del pelotón</h2>
      <table class="table table-sm table-dark">
          <thead  align = 'center'>
            <tr>
              <th>ID</th>
              <th>APELLIDOS</th>
              <th>NOMBRES</th>
              <th>FECHA DE NACIMIENTO</th>
              <th>GRADO</th>
              <th>CARGO</th>
              <th>ESPECIALIDAD</th>
              <th>RH</th>
              <th>LATITUD</th>
              <th>LONGITUD</th>
            </tr>
          </thead>
          <tbody align = 'center'> 
            <tr *ngFor="let i of peloton">
              <td style="cursor: pointer;">
                <a class="figure-caption" color="blue" (click)="onSelected(i.id)" >{{i.id}}</a>
              </td>
              <td >
                  <p >{{i.apellidos}}</p>
                </td>
                <td >
                    <p >{{i.nombres}}</p>
                  </td>
              <td>
                  <p >{{i.fechaNacimiento}}</p>
              </td>
              <td >
                <p >{{i.grado}}</p>
              </td>
              <td >
                <p >{{i.cargo}}</p>
              </td>
              <td>
                <p  >{{i.especialidad}}</p>
            </td>
            <td >
                <p  >{{i.rh}}</p>
            </td>
            <td >
                <p  >{{i.latitud}}</p>
            </td>
            <td >
                <p >{{i.longitud}}</p>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-1">
        </div>
    </div>



<!-- ESTE FUNCIONAAAAA-->
<!---<div #map style="width: 950px; height: 750px"></div>-->


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!---
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
---->



<!---
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
<p>
  mostrarmapa works!
</p>
<h1>Markers</h1>
<div *ngFor="let marker of markers | async">
  <button (click)="flyTo(marker)">{{ marker.properties.message }}</button>
  <button (click)="removeMarker(marker)">Delete</button>
<div class="map" id="map"></div> 
-->


<!----
<html ng-app="app-mostrarmapa">
  <head>
    <title></title>

    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.43.2/angular-mapboxgl-directive.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.43.2/angular-mapboxgl-directive.min.js"></script>

    <script>
      var app = angular.module('app-mostrarmapa', ['mapboxgl-directive'])

      .run([function () {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic29maWFhbHZhcmV6bG9wZXoiLCJhIjoiY2ptZjU0N3JrMGR5ZzNxcnNtanlsbGxwZiJ9.TiqdpJq0bSw-PkJgwY3DVA';
      }]);
    </script>
  </head>
  <body>
    <div mapboxgl gl-style="'mapbox://styles/mapbox/dark-v9'"></div>
  </body>
</html>
-->