<div class="row">
    <div class="col-4" align= 'center'>
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src= {{pelotonDetail.img}} alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title" align = 'center'>{{pelotonDetail.grado}} {{pelotonDetail.apellidos}}, {{pelotonDetail.nombres}}</h5>
        <h6 align = 'center'> {{pelotonDetail.cargo}}, {{pelotonDetail.especialidad}}</h6>
        <p class="card-text" align = 'center'>Fecha Nacimiento: {{pelotonDetail.fechaNacimiento}}</p>
        <p class="card-text" align = 'center'>RH: {{pelotonDetail.rh}}</p>
        <p class="card-text" align = 'center'>Ubicación Actual: [{{pelotonDetail.latitud}}, {{pelotonDetail.longitud}}]</p>
      </div>
    </div>
  </div>
  </div>

